<%
locals.OLSKPageTitle = OLSKLocalized('ZDAVitrineTitle');
locals.OLSKPageCanonical = 'https://0data.app/glance';
locals.OLSKPageDescription = OLSKLocalized('ZDAVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/__external/list.js/dist/list.min.js',
	'/_shared/common/ui-style.css',
	'ui-behaviour.js',
	'ui-style.css',
];
locals.OLSKPageMetaViewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0';
%>

<div class="ZDAGlance OLSKDecor">

<header class="ZDAGlanceHeader OLSKDecorFixedHeader">

<div class="ZDAGlanceHeaderOne OLSKCommonEdgeBottom">
	<a class="ZDAGlanceRootLink" href="<%= OLSKCanonical('ZDAVitrineRoute') %>" title="<%= OLSKLocalized('OLSKRootLinkTextHome') %>">
		<img class="ZDAGlanceRootLinkImage" src="<%= process.env.ZDA_VITRINE_IDENTITY_URL %>">
	</a>
	<input class="ZDAGlanceFilterInput OLSKDecorInput" placeholder="<%= OLSKLocalized('ZDAGlanceFilterInputText') %>" type="search" accesskey="f" />
	<a class="ZDAGlanceProjectsCompilationLink" href="<%= OLSKCanonical('ZDAProjectsJSONRoute') %>">JSON</a>
</div>

<div class="ZDAGlanceHeaderTwo OLSKCommonEdgeBottom OLSKDecorFormBlend">
	<% locals.ZDAGlanceListData.reduce(function (coll, item) {
		return coll.concat(Object.values(item.ZDAProjectBanks || {}).reduce(function (array, bank) {
			const name = (bank.ZDABankProtocol || {}).ZDAProtocolName;
			return array.concat((name && !coll.includes(name)) ? name : []);
		}, []));
	}, []).forEach(function (item) { -%>
		<button class="ZDAGlanceProtocolButton" onclick="mod.ControlSearch('<%= item %>')"><%= item %></button>
	<% }) -%>
</div>

</header>

<%- include('../sub-list/ui-view.ejs') %>

</div>

<script type="text/javascript">
mod.LifecyclePageWillLoad();
</script>
