<%
locals.OLSKPageTitle = OLSKLocalized('ZDAVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('ZDAVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<div class="ZDAVitrine OLSKDecor OLSKDecorCapped OLSKDecorNoTopPad">

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: process.env.ZDA_VITRINE_IDENTITY_URL,
	OLSKCrownCardNameText: OLSKLocalized('ZDAVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('ZDAVitrineDescription').replace(', all of it', ',<br /> all of it'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKFormatted(OLSKLocalized('OLSKLandingActionTextFormat'), ZDAGlanceProjectsCount()),
	OLSKLandingActionHref: OLSKCanonical('ZDAGlanceRoute'),
}) %>

<h1 class="ZDAVitrinePrinciplesHeading"><%= OLSKLocalized('ZDAVitrinePrinciplesHeadingText') %></h1>

<ul class="ZDAVitrinePrinciplesList">
	<% OLSKLocalized('ZDAVitrinePrinciplesListItemText').forEach(function (e) { -%>
		<li class="ZDAVitrinePrinciplesListItem"><%- e %></li>
	<% }) -%>
</ul>

<h1 class="ZDAVitrineFlowsHeading"><%= OLSKLocalized('ZDAVitrineFlowsHeadingText') %></h1>

<div class="ZDAVitrineFlowsItem OLSKCommonCard">
	<img class="ZDAVitrineFlowsTraditionalImage" src="<%= process.env.ZDA_VITRINE_FLOWS_TRADITIONAL_URL %>" role="presentation" />
	<section>
		<h2 class="ZDAVitrineFlowsTraditionalHeading"><%- OLSKLocalized('ZDAVitrineFlowsTraditionalHeadingText') %></h2>
		<p class="ZDAVitrineFlowsTraditionalBlurb"><%- OLSKLocalized('ZDAVitrineFlowsTraditionalBlurbText') %></p>
	</section>
</div>

<div class="ZDAVitrineFlowsItem OLSKCommonCard">
	<img class="ZDAVitrineFlowsModernImage" src="<%= process.env.ZDA_VITRINE_FLOWS_MODERN_URL %>" role="presentation" />
	<section>
		<h2 class="ZDAVitrineFlowsModernHeading"><%- OLSKLocalized('ZDAVitrineFlowsModernHeadingText') %></h2>
		<p class="ZDAVitrineFlowsModernBlurb"><%- OLSKLocalized('ZDAVitrineFlowsModernBlurbText') %></p>
	</section>
</div>

<h1 class="ZDAVitrineProtocolsHeading"><%= OLSKLocalized('ZDAVitrineProtocolsHeadingText') %></h1>

<% ZDAProtocols().forEach(function (item) { -%>
	<a class="ZDAVitrineProtocolsLink" href="<%= item.ZDAProtocolURL %>" target="_blank">
		<img class="ZDAVitrineProtocolsLinkImage" src="<%= item._ZDAProtocolIconURLCachedPath || item.ZDAProtocolIconURL %>" />
		<span class="ZDAVitrineProtocolsLinkText"><%= item.ZDAProtocolName %></span>
	</a>
<% }) -%>

<h1 class="ZDAVitrineToolsHeading"><%= OLSKLocalized('ZDAVitrineToolsHeadingText') %></h1>

<dl class="ZDAVitrineToolsContainer OLSKDecorGlossary" lang="en">
	<% ZDATools().forEach(function (item) { -%>
	<dt><a class="ZDAVitrineToolsLink" href="<%= item.ZDAToolURL %>" target="_blank"><%= item.ZDAToolName %></a></dt>
	<dd class="ZDAVitrineToolsBlurb"><%= item.ZDAToolBlurb %></dd>
	<% }) -%>
</dl>

<h1 class="ZDAVitrineEventsHeading"><%= OLSKLocalized('ZDAVitrineEventsHeadingText') %></h1>

<%- include('../sub-events/ui-view.ejs', {
	ZDAVitrineEventsListData: ZDAEvents(),
}) %>

<h1 class="ZDAVitrineGroupDiscussionHeading"><%= OLSKLocalized('ZDAVitrineGroupDiscussionHeadingText') %></h1>

<iframe class="ZDAVitrineGroupDiscussionVideo" src="<%= process.env.ZDA_VITRINE_GROUP_DISCUSSION_VIDEO_URL %>" allowfullscreen></iframe>
<%- include('../../node_modules/ROCOGazette/main.ejs', {
	_OLSKModulesDirPrefix: '../.',
	ROCOBulletinProject: process.env.ROCO_SHARED_PROJECT_ID,
}) %>

<%- include('../../node_modules/OLSKEdit/main.ejs', {
	OLSKEditURL: process.env.OLSK_REPO_URL,
}) %>

<hr role="presentation" />

<%- include('../../node_modules/SWARLink/main.ejs') %>

<hr role="presentation" />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
