<%
locals.OLSKPageTitle = OLSKLocalized('ZDAVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('ZDAVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'ui-style.css',
];
%>

<div class="ZDAVitrine OLSKDecor OLSKDecorCapped">

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: process.env.ZDA_VITRINE_IDENTITY_URL,
	OLSKCrownCardNameText: OLSKLocalized('ZDAVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('ZDAVitrineDescription').replace(', all of it', ',<br /> all of it'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKFormatted(OLSKLocalized('OLSKLandingActionTextFormat'), ZDAGlanceProjectsCount()),
	OLSKLandingActionHref: OLSKCanonical('ZDAGlanceRoute'),
}) %>

<h1 class="ZDAVitrinePrinciplesHeading"><%= OLSKLocalized('ZDAVitrinePrinciplesHeadingText') %></h1>

<ul class="ZDAVitrinePrinciplesList">
	<% OLSKLocalized('ZDAVitrinePrinciplesListItemText').forEach(function (e) { -%>
		<li class="ZDAVitrinePrinciplesListItem"><%- e %></li>
	<% }) -%>
</ul>

<h1 class="ZDAVitrineFlowsHeading"><%= OLSKLocalized('ZDAVitrineFlowsHeadingText') %></h1>

<div class="ZDAVitrineFlowsItem OLSKCommonCard">
	<img class="ZDAVitrineFlowsTraditionalImage" src="<%= process.env.ZDA_VITRINE_FLOWS_TRADITIONAL_URL %>" role="presentation" />
	<section>
		<h2 class="ZDAVitrineFlowsTraditionalHeading"><%- OLSKLocalized('ZDAVitrineFlowsTraditionalHeadingText') %></h2>
		<p class="ZDAVitrineFlowsTraditionalBlurb"><%- OLSKLocalized('ZDAVitrineFlowsTraditionalBlurbText') %></p>
	</section>
</div>

<div class="ZDAVitrineFlowsItem OLSKCommonCard">
	<img class="ZDAVitrineFlowsModernImage" src="<%= process.env.ZDA_VITRINE_FLOWS_MODERN_URL %>" role="presentation" />
	<section>
		<h2 class="ZDAVitrineFlowsModernHeading"><%- OLSKLocalized('ZDAVitrineFlowsModernHeadingText') %></h2>
		<p class="ZDAVitrineFlowsModernBlurb"><%- OLSKLocalized('ZDAVitrineFlowsModernBlurbText') %></p>
	</section>
</div>

<h1 class="ZDAVitrineInformationHeading"><%= OLSKLocalized('ZDAVitrineInformationHeadingText') %></h1>

<ul>
	<li><a class="ZDAVitrineAutonomousDataLink" href="<%= process.env.ZDA_VITRINE_AUTONOMOUS_DATA_URL %>">Autonomous Data</a></li>
	<li><a class="ZDAVitrineRemoteStorageLink" href="<%= process.env.ZDA_VITRINE_REMOTE_STORAGE_URL %>">remoteStorage</a></li>
	<li><a class="ZDAVitrineSolidProjectLink" href="<%= process.env.ZDA_VITRINE_SOLID_PROJECT_URL %>">Solid Project</a></li>
	<li><a class="ZDAVitrineUnhostedLink" href="<%= process.env.ZDA_VITRINE_UNHOSTED_URL %>">Unhosted</a></li>
	<li><a class="ZDAVitrineFissionLink" href="<%= process.env.ZDA_VITRINE_FISSION_URL %>">Fission</a></li>
	<li><a class="ZDAVitrineRepoLink" href="<%= process.env.ZDA_VITRINE_REPO_URL %>"><%= OLSKLocalized('ZDAVitrineRepoLinkText') %></a></li>
	<li><a class="ZDAVitrineWrapLink" href="<%= process.env.ZDA_VITRINE_WRAP_URL %>"><%= OLSKLocalized('ZDAVitrineWrapLinkText') %></a></li>
</ul>


<%- include('../../node_modules/ROCOGazette/main.ejs', {
	_OLSKModulesDirPrefix: '../.',
	ROCOBulletinProject: 'RP_005',
}) %>

<%- include('../../node_modules/OLSKJar/main.ejs') %>

<h1 class="ZDAVitrineProjectsSourcesHeading"><%= OLSKLocalized('ZDAVitrineProjectsSourcesHeadingText') %></h1>

<p class="ZDAVitrineProjectsSourcesBlurb"><%= OLSKLocalized('ZDAVitrineProjectsSourcesBlurbText') %></p>

<ul class="ZDAVitrineProjectsSourcesList">
	<% ZDAGlanceProjectsSourceURLs.forEach(function (e) { -%>
		<li><a class="ZDAVitrineProjectsSourcesListItem" href="<%= e %>"><%- e.replace('https://', '') %></a></li>
	<% }) -%>
</ul>

<%- include('../../node_modules/ROCOForum/main.ejs', {
	ROCOForumTopic: process.env.ROCO_FORUM_TOPIC,
}) %>

<hr role="presentation" />

<%- include('../../node_modules/ROCOEphemerataLink/main.ejs') %>

<%- include('../../node_modules/SWARLink/main.ejs') %>

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
