<%
locals.OLSKPageTitle = OLSKLocalized('ZDAVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('ZDAVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'ui-style.css',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
%>

<div class="ZDAVitrine OLSKDecor OLSKDecorCapped">

<%- include('../../node_modules/OLSKLanguageSwitcher/main.ejs') %>

<hr role="presentation" />

<div class="ZDAVitrineCrown OLSKCommonCard OLSKCommonCrownCard">
	<img class="ZDAVitrineCrownIcon" src="<%= process.env.ZDA_VITRINE_IDENTITY_URL %>" role="presentation" />
	<section>
		<span class="ZDAVitrineCrownName"><%= OLSKLocalized('ZDAVitrineTitle') %></span>
		<span class="ZDAVitrineCrownBlurb"><%= OLSKLocalized('ZDAVitrineDescription') %></span>
	</section>
</div>

<h1 class="ZDAVitrinePrinciplesHeading"><%= OLSKLocalized('ZDAVitrinePrinciplesHeadingText') %></h1>

<ul class="ZDAVitrinePrinciplesList">
	<% OLSKLocalized('ZDAVitrinePrinciplesListItemText').forEach(function (e) { -%>
		<li class="ZDAVitrinePrinciplesListItem"><%- e %></li>
	<% }) -%>
</ul>

<h1 class="ZDAVitrineFlowsHeading"><%= OLSKLocalized('ZDAVitrineFlowsHeadingText') %></h1>

<div class="ZDAVitrineFlowsItem OLSKCommonCard">
	<img class="ZDAVitrineFlowsTraditionalImage" src="<%= process.env.ZDA_VITRINE_FLOWS_TRADITIONAL_URL %>" role="presentation" />
	<section>
		<h2 class="ZDAVitrineFlowsTraditionalHeading"><%- OLSKLocalized('ZDAVitrineFlowsTraditionalHeadingText') %></h2>
		<p class="ZDAVitrineFlowsTraditionalBlurb"><%- OLSKLocalized('ZDAVitrineFlowsTraditionalBlurbText') %></p>
	</section>
</div>

<div class="ZDAVitrineFlowsItem OLSKCommonCard">
	<img class="ZDAVitrineFlowsModernImage" src="<%= process.env.ZDA_VITRINE_FLOWS_MODERN_URL %>" role="presentation" />
	<section>
		<h2 class="ZDAVitrineFlowsModernHeading"><%- OLSKLocalized('ZDAVitrineFlowsModernHeadingText') %></h2>
		<p class="ZDAVitrineFlowsModernBlurb"><%- OLSKLocalized('ZDAVitrineFlowsModernBlurbText') %></p>
	</section>
</div>

<h1 class="ZDAVitrineInformationHeading"><%= OLSKLocalized('ZDAVitrineInformationHeadingText') %></h1>

<ul>
	<li><a class="ZDAVitrineAutonomousDataLink" href="<%= process.env.ZDA_VITRINE_AUTONOMOUS_DATA_URL %>">Autonomous Data</a></li>
	<li><a class="ZDAVitrineRemoteStorageLink" href="<%= process.env.ZDA_VITRINE_REMOTE_STORAGE_URL %>">remoteStorage</a></li>
	<li><a class="ZDAVitrineSolidProjectLink" href="<%= process.env.ZDA_VITRINE_SOLID_PROJECT_URL %>">Solid Project</a></li>
	<li><a class="ZDAVitrineUnhostedLink" href="<%= process.env.ZDA_VITRINE_UNHOSTED_URL %>">Unhosted</a></li>
	<li><a class="ZDAVitrineFissionLink" href="<%= process.env.ZDA_VITRINE_FISSION_URL %>">Fission</a></li>
	<li><a class="ZDAVitrineRepoLink" href="<%= process.env.ZDA_VITRINE_REPO_URL %>"><%= OLSKLocalized('ZDAVitrineRepoLinkText') %></a></li>
	<li><a class="ZDAVitrineWrapLink" href="<%= process.env.ZDA_VITRINE_WRAP_URL %>"><%= OLSKLocalized('ZDAVitrineWrapLinkText') %></a></li>
</ul>


<h1 class="ZDAVitrineGazetteHeading"><%= OLSKLocalized('OLSKGazetteHeadingText') %></h1>
<%- include('../../node_modules/OLSKGazette/main.ejs', {
	OLSKGazetteProject: 'RP_005',
}) %>

<h1 class="ZDAVitrineProjectsHeading"><%= OLSKLocalized('ZDAVitrineProjectsHeadingText') %></h1>

<%- include('../sub-list/ui-view.ejs') %>

<h2 class="ZDAVitrineProjectsSourcesHeading"><%= OLSKLocalized('ZDAVitrineProjectsSourcesHeadingText') %></h2>

<p class="ZDAVitrineProjectsSourcesBlurb"><%= OLSKLocalized('ZDAVitrineProjectsSourcesBlurbText') %></p>

<ul class="ZDAVitrineProjectsSourcesList">
	<% ZDAVitrineProjectsSourceURLs.forEach(function (e) { -%>
		<li><a class="ZDAVitrineProjectsSourcesListItem" href="<%= e %>"><%- e.replace('https://', '') %></a></li>
	<% }) -%>
</ul>

<hr role="presentation" />

<p>
	<a class="ZDAVitrineProjectsCompilationLink" href="<%= OLSKCanonical('ZDAProjectsJSONRoute') %>"><%= OLSKLocalized('ZDAVitrineProjectsCompilationLinkText') %></a>
</p>

<hr role="presentation" />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
