<%
locals.OLSKPageTitle = OLSKLocalized('ZDAVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('ZDAVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKLayout/ui-style.css',
	'ui-style.css',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
locals.OLSKPageMetaTags = {
	viewport: 'width=device-width',
};
%>

<div class="ZDAVitrine OLSKCommon">

<%- include('../../node_modules/OLSKLanguageSwitcher/main.ejs') %>

<hr>

<div class="ZDAVitrineIdentity OLSKCommonIdentityCard">
	<img class="ZDAVitrineIdentityLogo" src="<%= process.env.ZDA_TOUCH_ICON_URL %>" role="presentation" />
	<section>
		<span class="ZDAVitrineIdentityName"><%= OLSKLocalized('ZDAVitrineTitle') %></span>
		<br />
		<span class="ZDAVitrineIdentityBlurb"><%= OLSKLocalized('ZDAVitrineDescription') %></span>
	</section>
</div>

<h1 class="ZDAVitrinePrinciplesHeading"><%= OLSKLocalized('ZDAVitrinePrinciplesHeadingText') %></h1>

<ul class="ZDAVitrinePrinciplesList">
	<% OLSKLocalized('ZDAVitrinePrinciplesListItemText').forEach(function (e) { -%>
		<li class="ZDAVitrinePrinciplesListItem"><%- e %></li>
	<% }) -%>
</ul>

<h1 class="ZDAVitrineInformationHeading"><%= OLSKLocalized('ZDAVitrineInformationHeadingText') %></h1>

<ul>
	<li><a class="ZDAVitrineAutonomousDataLink" href="<%= process.env.ZDA_VITRINE_AUTONOMOUS_DATA_URL %>">Autonomous Data</a></li>
	<li><a class="ZDAVitrineRemoteStorageLink" href="<%= process.env.ZDA_VITRINE_REMOTE_STORAGE_URL %>">remoteStorage</a></li>
	<li><a class="ZDAVitrineSolidProjectLink" href="<%= process.env.ZDA_VITRINE_SOLID_PROJECT_URL %>">Solid Project</a></li>
	<li><a class="ZDAVitrineUnhostedLink" href="<%= process.env.ZDA_VITRINE_UNHOSTED_URL %>">Unhosted</a></li>
	<li><a class="ZDAVitrineFissionLink" href="<%= process.env.ZDA_VITRINE_FISSION_URL %>">Fission</a></li>
	<li><a class="ZDAVitrineGitHubLink" href="<%= process.env.ZDA_VITRINE_GITHUB_URL %>"><%= OLSKLocalized('ZDAVitrineGitHubLinkText') %></a></li>
</ul>

<h1 class="ZDAVitrineProjectsHeading"><%= OLSKLocalized('ZDAVitrineProjectsHeadingText') %></h1>

<%- include('../sub-list/ui-view.ejs') %>

<h2 class="ZDAVitrineProjectsSourcesHeading"><%= OLSKLocalized('ZDAVitrineProjectsSourcesHeadingText') %></h2>

<p class="ZDAVitrineProjectsSourcesBlurb"><%= OLSKLocalized('ZDAVitrineProjectsSourcesBlurbText') %></p>

<ul class="ZDAVitrineProjectsSourcesList">
	<% ZDAVitrineProjectsSourceURLs.forEach(function (e) { -%>
		<li><a class="ZDAVitrineProjectsSourcesListItem" href="<%= e %>"><%- e %></a></li>
	<% }) -%>
</ul>

<hr>

<p>
	<a class="ZDAVitrineProjectsCompilationLink" href="<%= OLSKCanonicalFor('ZDAProjectsJSONRoute') %>"><%= OLSKLocalized('ZDAVitrineProjectsCompilationLinkText') %></a>
</p>

<hr />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
