<%
locals.OLSKPageTitle = OLSKLocalized('ZDAVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('ZDAVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKLayout/ui-style.css',
	'ui-style.css',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
locals.OLSKPageMetaTags = {
	viewport: 'width=device-width',
};
%>

<div class="ZDAVitrine OLSKCommon">

<%- include('../../node_modules/OLSKLanguageSwitcher/main.ejs') %>

<hr>

<div class="ZDAVitrineIdentity">
	<img class="ZDAVitrineIdentityLogo" src="<%= process.env.ZDA_TOUCH_ICON_URL %>" role="presentation" />
	<span class="ZDAVitrineIdentityName"><%= OLSKLocalized('ZDAVitrineTitle') %></span>
</div>

<h1 class="ZDAVitrineAspectsHeading"><%= OLSKLocalized('ZDAVitrineAspectsHeadingText') %></h1>

<ul class="ZDAVitrineAspectsList">
	<% OLSKLocalized('ZDAVitrineAspectsListItemText').forEach(function (e) { -%>
		<li class="ZDAVitrineAspectsListItem"><%- e %></li>
	<% }) -%>
</ul>

<h1 class="ZDAVitrineInformationHeading"><%= OLSKLocalized('ZDAVitrineInformationHeadingText') %></h1>

<ul>
	<li><a class="ZDAVitrineAutonomousDataLink" href="<%= process.env.ZDA_VITRINE_AUTONOMOUS_DATA_URL %>"><%= OLSKLocalized('ZDAVitrineAutonomousDataLinkText') %></a></li>
	<li><a class="ZDAVitrineRemoteStorageLink" href="<%= process.env.ZDA_VITRINE_REMOTE_STORAGE_URL %>"><%= OLSKLocalized('ZDAVitrineRemoteStorageLinkText') %></a></li>
</ul>

<h1 class="ZDAVitrineProjectsHeading"><%= OLSKLocalized('ZDAVitrineProjectsHeadingText') %></h1>

<%- include('../sub-list/ui-view.ejs') %>

<hr />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
