<div class="ZDAVitrineList">

<% if (!locals.ZDAVitrineListData.length) { -%>
	<p class="ZDAVitrineListEmpty"><%= OLSKLocalized('ZDAVitrineListEmptyText') %></p>
<% } -%>

<% locals.ZDAVitrineListData.forEach(function (item) { -%>
<div class="ZDAVitrineListItem OLSKCommonCard">
	<% if (item.ZDAProjectIconURL) { -%>
		<img class="ZDAVitrineListItemIcon" src="<%= item.ZDAProjectIconURL %>" role="presentation" />
	<% } -%>
	<div>
		<a class="ZDAVitrineListItemName" href="<%= item.ZDAProjectURL %>" target="_blank"><%= item.ZDAProjectName %></a>

		<span class="ZDAVitrineListItemBlurb"><%= item.ZDAProjectBlurb %></span>
	</div>
</div>
<% }) -%>

</div>
