<table class="ZDAGlanceList" lang="en">

<% if (!locals.ZDAGlanceListData.length) { -%>
	<p class="ZDAGlanceListEmpty"><%= OLSKLocalized('ZDAGlanceListEmptyText') %></p>
<% } -%>

<% if (locals.ZDAGlanceListData.length) { -%>
	<tr class="ZDAGlanceListHead OLSKStickyHeader OLSKCommonEdgeBottom">
		<th></th>
		<th class="ZDAGlanceListHeadName"><%= OLSKLocalized('ZDAGlanceListHeadNameText') %></th>
		<th class="ZDAGlanceListHeadBlurb"><%= OLSKLocalized('ZDAGlanceListHeadBlurbText') %></th>
	</tr>
<% } -%>

<% locals.ZDAGlanceListData.forEach(function (item) { -%>
<tr class="ZDAGlanceListItem">
	<td><% if (item.ZDAProjectIconURL) { -%>
		<a class="ZDAGlanceListItemIcon" href="<%= item.ZDAProjectURL %>" aria-hidden="true">
			<img class="ZDAGlanceListItemIconImage" src="<%= item._ZDAProjectIconURLCachedPath || item.ZDAProjectIconURL %>" />
		</a>
	<% } -%></td>
	<td>
		<a class="ZDAGlanceListItemName" href="<%= item.ZDAProjectURL %>" target="_blank"><%= item.ZDAProjectName %></a>
	</td>
	<td class="ZDAGlanceListItemBlurb"><%= item.ZDAProjectBlurb %></td>
</tr>
<% }) -%>

</table>
